{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I'm a web designer / developer and a Python programmer based in Delhi, India.</p>
        <p>I started coding when I was 16 and wanted to make games and design websites.
           I have a passion for web design and love to create for web and mobile devices..</p>
        <p>I am currently pursuing my bachelor's degree in electronics and communication engineering
           and have the intention of doing a master's degree later.</p>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}